@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

:root {
    --bg-color: #131722;
    --light-bg: #24baef;
    --font-color: #fff;
    --border-color: #a8a8a83d;
    --main-font: 'Montserrat Alternates', sans-serif;
}
body {
    background-color: var(--bg-color) !important;
    font-family: var(--main-font);
    color: var(--font-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.link {
    text-decoration: none;
    color: var(--font-color);
}

.trending-header {
    padding: 2rem 0;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--font-color);
}

.trending-card {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 5px;
    margin: 5px 0;
    background-color: #282c34;
    border-radius: 10px;
    height: 540px;
    
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.vote {
    background-color: var(--light-bg) !important;
    color: var(--font-color);
}

.button {
    color: #313131 !important;
    background: white !important;
    padding: 1rem 2rem;
    border: 1px solid black !important;
    margin-right: 1rem;
    display: inline-block;
}

.active {
    background: linear-gradient(35deg, #494949, #313131) !important;
    color: white !important;
    padding: 1rem 2rem;
    border: 1px solid black !important;
    margin-right: 1rem;
    display: inline-block;
}

@media (max-width: 550px) {
    .trending-card {
        width: 100%;
    }
}

.span {
    cursor: pointer;
}

.trendImg {
    width: 100%;
    height: 60%;
}